@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Oxanium:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
	--font-big: Oxanium;
	--font-main: "IBM Plex Sans";

  --color-zinc-50:  #dcecf0;
  --color-zinc-100: #c0e1e7;
  --color-zinc-150: #b6dce3;
  --color-zinc-200: #add8e1;
  --color-zinc-300: #81c1ce;
  --color-zinc-400: #54a5b6;
  --color-zinc-500: #3f8f85;
  --color-zinc-600: #343b3a;
  --color-zinc-700: #2f3c3e;
  --color-zinc-800: #1a1c1c;
  --color-zinc-850: #1f2628;
  --color-zinc-900: #131313;
  --color-zinc-950: #0d0e0e;
    
  --color-neutral-950: #0a0a0a;
  --color-gray-100: #ebedec;
}

@custom-variant dark (&:is(html *));
@custom-variant bad (&:not(:placeholder-shown):invalid);
@custom-variant theme (&:is(html *));
@custom-variant enabled (&:not(:disabled));
@custom-variant valid (&:not(:invalid));

input {
  accent-color: white;
}

h3,h2,h1 {
	font-family: var(--font-big);
}

html, body {
	font-family: var(--font-main);
  scroll-behavior: smooth;
  font-size-adjust: 0.7;
}

*:not(.ease-out, .ease-in) {
  animation-timing-function: cubic-bezier(.73,-0.21,.21,1.23);
  transition-timing-function: cubic-bezier(.73,-0.21,.21,1.23);
}

button:not(:disabled) {
	cursor: pointer;
}

.anim-delay {
  animation-delay: 100ms;
}

.block-anim {
  position: absolute;
  height: 90%;
  aspect-ratio: 1/1;
  background-color: white;
  animation: block 0.4s ease-out both;
}

@keyframes block {
  0% { left: -20%; opacity: 0; }
  70% { left: 70%; opacity: 1 }
  100% { left: 100%; opacity: 0; }
}

@theme {
  --animate-expand: expand 0.2s forwards;
  --animate-flip-in: flip-in 0.6s both;
  --animate-fade-in: fade-in 1s both;
  --animate-fade-out: fade-out 1s forwards;
  --animate-shrink: shrink 1s both, fade-in 0.2s both;
  --animate-shrink-x: shrink-x 1s forwards;
  --animate-pulse-faster: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes flip-in {
    0% { transform: rotateX(80deg) scale(0.9); }
    100% { transform: rotateX(0deg) scale(1); }
  }

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes expand {
    0% { transform: scaleY(0.8) scaleX(0.9); }
    100% { transform: scaleY(1) scaleX(1); }
  }

  @keyframes expand-down {
    0% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
  }

  @keyframes shrink {
    0% { transform: scale(2); }
    100% { transform: scale(1); }
  }

  @keyframes shrink-x {
    0% { transform: scaleX(10) scaleY(1.3); opacity: 0.9 }
    100% { transform: scaleX(1); opacity: 0}
  }

  @keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
}

@keyframes italic-slant {
  from { color: var(--color-amber-300); font-style: oblique 0deg; }
  50% { font-style: oblique 20deg; }
  100% { color: inherit; font-style: oblique 30deg; }
}

@keyframes bold-weight {
  from { color: var(--color-amber-300); font-weight: normal; }
  to { color: inherit; font-weight: bolder; }
}

dialog::backdrop {
  background: none;
}

.anim-grad-bg {
  background-clip: text;
  color: transparent;
  animation: grad-bg-anim 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes grad-bg-anim {
  0%,100% { background-position: 0 0; }
  50% { background-position: 50% 0; }
}